/*.circle {
  border-radius:999px;
  width: 100px;
  height: 0px;
  border: 2px solid red;
  text-align: center;
  padding:40px 0;
  line-height: 1px;
}*/

.circle {
 /*border: 2px solid red;
 border-radius:999px;
 text-align: center;
 display: block;
 height: 150px;
 width: 150px;
  line-height: 0;*/
 background: url('../images/thumbnail.jpg');
 border: 2px solid #eee;
 display: inline-block;
 width: 150px;
 height: 150px;
 border-radius: 50%;
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
}

.circle {
  div {
    margin-top:75px;
  }
}
