@import "circle.min";

$bgcolor: lightblue;
$padding: 5px;
$color: #000;
$font-family: Calibri, sans-serif;

html,* {
	margin:0;
	padding:0;
}

body {
	font-family:$font-family;
}

h2 {
	font-size:18px !important;
	font-weight: bold;
}

.wrapper {
	margin: 20px;
}

.border {
	border:1px solid #000;
}

.relative {
	position: relative;
}

.padding-left {
	padding-left:20px;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

div {
	margin-top:20px;
}

form {
	margin-top:10px;
}

label {
	margin-right:10px;
}

.input-field {
	margin: 0 10px 10px 0;
}

.button {
  @include border-radius(2px);
	padding:2px 4px;
	color:$color;
	background: lightgreen;
	border:1px solid #eee;
}

.button-2 {
  @include border-radius(2px);
	padding:2px 4px;
	color:$color;
	background: red;
	border:1px solid #eee;
	width:63px;
	cursor:pointer;
}

.box {
	@extend .border;
  /*@include border-radius(2px);*/
	background:$bgcolor;
	padding:$padding;
	color:$color;
}

.box-2 {
	li {
		list-style-type: none !important;
	}
}

.box-2 {
	@extend .border;
  /*@include border-radius(2px);*/
	background:#eee;
	padding:$padding;
	color:$color;
}

.box-3 {
	@extend .border;
  /*@include border-radius(2px);*/
	background:#eee;
	padding:$padding;
	color:$color;
}

.footer {
	position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.footer {
	p{
		font-size:10px;
	}
}


/* Animation */

.line-1{
    border-right: 2px solid rgba(255,255,255,.75);
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 7.80em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(0,0,0,1);}
  to{border-right-color: transparent;}
}


/*Animated list-style-type*/

ul.animated-list {
  list-style-type: none;
}

ul.animated-list > li {
  margin: 10px 0;
}

ul.animated-list > li::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 20px;
  border-radius: 0 50%;
  transform: rotate(0deg);
  transition: transform 0.1s;
}

ul.animated-list > li:hover::before {
  transform: rotate(-45deg);
}

ul.animated-list > li:nth-of-type(1)::before {
  background-color: rgba(30, 30, 30, 1.0);
}

ul.animated-list > li:nth-of-type(2)::before  {
  background-color: rgba(60, 60, 60, 1.0);
}

ul.animated-list > li:nth-of-type(3)::before {
  background-color: rgba(90, 90, 90, 1.0);
}

ul.animated-list > li:nth-of-type(4)::before {
  background-color: rgba(120, 120, 120, 1.0);
}

ul.animated-list > li:nth-of-type(5)::before {
  background-color: rgba(150, 150, 150, 1.0);
}

ul.animated-list > li:nth-of-type(6)::before {
  background-color: rgba(150, 150, 150, 1.0);
}

ul.animated-list > li:nth-of-type(7)::before {
  background-color: rgba(150, 150, 150, 1.0);
}


/*3D Effect*/

.enjoy-css {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  border: none;
  font: normal 72px/normal Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 0 1px 0 rgb(204,204,204) , 0 2px 0 rgb(201,201,201) , 0 3px 0 rgb(187,187,187) , 0 4px 0 rgb(185,185,185) , 0 5px 0 rgb(170,170,170) , 0 6px 1px rgba(0,0,0,0.0980392) , 0 0 5px rgba(0,0,0,0.0980392) , 0 1px 3px rgba(0,0,0,0.298039) , 0 3px 5px rgba(0,0,0,0.2) , 0 5px 10px rgba(0,0,0,0.247059) , 0 10px 10px rgba(0,0,0,0.2) , 0 20px 20px rgba(0,0,0,0.14902) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

.enjoy-css:hover {
  color: rgba(252,189,0,1);
  text-shadow: 0 1px 0 rgba(255,255,255,1) , 0 2px 0 rgba(255,255,255,1) , 0 3px 0 rgba(255,255,255,1) , 0 4px 0 rgba(255,255,255,1) , 0 5px 0 rgba(255,255,255,1) , 0 6px 1px rgba(0,0,0,0.0980392) , 0 0 5px rgba(0,0,0,0.0980392) , 0 1px 3px rgba(0,0,0,0.298039) , 0 3px 5px rgba(0,0,0,0.2) , 0 -5px 10px rgba(0,0,0,0.247059) , 0 -7px 10px rgba(0,0,0,0.2) , 0 -15px 20px rgba(0,0,0,0.14902) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}
