@import "circle.min";

$bgcolor: lightblue;
$padding: 5px;
$color: #000;
$font-family: Calibri, sans-serif;

html,* {
	margin:0;
	padding:0;
}

body {
	font-family:$font-family;
}

h2 {
	font-size:18px !important;
	font-weight: bold;
}

.wrapper {
	margin: 20px;
}

.border {
	border:1px solid #000;
}

.relative {
	position: relative;
}

.padding-left {
	padding-left:20px;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

div {
	margin-top:20px;
}

form {
	margin-top:10px;
}

label {
	margin-right:10px;
}

.input-field {
	margin: 0 10px 10px 0;
}

.button {
  @include border-radius(2px);
	padding:2px 4px;
	color:$color;
	background: lightgreen;
	border:1px solid #eee;
}

.button-2 {
  @include border-radius(2px);
	padding:2px 4px;
	color:$color;
	background: red;
	border:1px solid #eee;
	width:63px;
	cursor:pointer;
}

.box {
	@extend .border;
  /*@include border-radius(2px);*/
	background:$bgcolor;
	padding:$padding;
	color:$color;
}

.box-2 {
	li {
		list-style-type: none !important;
	}
}

.box-2 {
	@extend .border;
  /*@include border-radius(2px);*/
	background:#eee;
	padding:$padding;
	color:$color;
}

.box-3 {
	@extend .border;
  /*@include border-radius(2px);*/
	background:#eee;
	padding:$padding;
	color:$color;
}

.footer {
	position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.footer {
	p{
		font-size:10px;
	}
}
